* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  padding: 20px 35px;
  background-image: url('../images/hero-bg.jpg');
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  z-index: 9999;
}

header h1 {
  color: white;
  font-weight: bold;
  
}